	@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body{
	background-image: url("images/background.jpg");
	font-family: 'Josefin Sans', sans-serif;
	background-size: cover;
}
#navigation{
	margin-left: 0;
	width: 100%;
	margin: 0;
	padding: 0;

	margin-top: 5%;
}


	#welcome{
		margin-top: 20px;
		color: white;
	}
	#welcome h1{
		font-family: 'Josefin Sans', sans-serif;
		font-weight: bold;
		font-size: 3em;
		margin-bottom: 0;
	}
	#welcome h2{
		margin-top: 0;
		font-family: 'Josefin Sans', sans-serif;
	}
	a{
		text-decoration: none;
	}
	.titleLink:hover{
		color: rgba(247, 150, 81, 1);
		transition: color 0.6s;
	}
	.navbar{
		background: transparent;
		border: none;
		color: white;
		width: 100%;
		display: block;
		margin-left: 0;
		margin-right: 5%;
		padding: 10px;
		font-weight: bold;
		border-bottom: 1px solid rgb(247,150,81);
	}


	.navbar:hover{
		
		color: rgba(247, 150, 81, 1);
		border-bottom: 1px solid rgba(247,150,81,1);
		
		
		transition: color 0.6s, background-color 0.6s;
	}
	/* SOCIAL MEDIA */


._14 {
	margin-top: 10%;
    font-size: 1.4em;
	text-align: center;
	color: white;
	
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
}
.footer-social-icons {
	text-align: center;
   float: center;
    display:block;
    margin: auto;
	list-style-type: none;
	display: inline;
}
.social-icon {
    color: #fff;
	list-style-type: none;
	display: inline;
	
}


.fa-instagram {
	text-align: center;
	width: 15%;
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    border-radius: 20px;
	background-color: white;
	color: black;
	margin-bottom: 10px;
}
.fa-instagram:hover {
    background-color: #7e03b2;
}
.fa-linkedin {
	text-align: center;
	width: 15%;
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    border-radius: 20px;
	background-color: white;
	color: black;
	margin-bottom: 20px;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
#smallerNav{
	display: block;
	background: rgba(52,52,52,0.7);
}
#navigation{
	display:none;
}
/* hide checkbox */
input[type=checkbox]{
	display:none;
}

/*Show menu when invisible checkbox is checked */
input[type=checkbox]:checked ~ .dropdown-content {
	display:block;
	width: 100%;
}
.dropdown-content{
	display:none;
	background: transparent;
		border: none;
		color: white;
		
		
		margin-left: 0;
		margin-right: 5%;
		padding: 10px;
		font-weight: bold;
}
.dropdown-content a{
	
	display: block;
	padding: 10px;
	font-size: 0.8em;
}
.dropdown-content a:hover{
	color: rgb(247,150,81);
	transition: color 0.6s;
	border-bottom: 1px solid rgba(247,150,81,1);
}
.show-menu{
	background: transparent;
		border: none;
		color: white;
		width: 100%;
		display: block;
		margin-left: 0;
		margin-right: 5%;
		padding: 10px;
		font-weight: bold;
		border-bottom: 1px solid rgb(247,150,81);
}
.show-menu:hover{
	border-bottom: 1px solid rgba(247,150,81,1);
	color: rgb(247,150,81);
	transition: color 0.6s;
}


@supports not (display: grid) {
	#navigation,
  #welcome,
     {
		max-width: 50em;
		margin: 0;
	}
	
}



@supports (display: grid) {
  @media screen and (min-width: 800px) {
    .site{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas:
			"header header header"
			"main main main"
			"left-footer footer right-footer";	
		}
	#navigation{
		grid-area: header;
		margin-top: 0;
		padding-top: 0;
		display: block;
	}
	#welcome{
		grid-area: main;
		}
		
	.navbar{
		display:inline-block;
		width: 15%;
		
		min-height: 20%;
		line-height: 100px;
		margin-bottom: 10px;
	}
	.site{
		
		margin: 6%;
	}
	#welcome{
		margin-top: 0;
		text-align: center;
		color: white;
		min-height: 100px;
		padding: 20px;
		margin: 0;
	}
	#welcome h1{
		line-height: 100px;
		margin-bottom: 0;
	}
	#welcome h2{
		margin: 0;
	}
	.footer-social-icons {
		text-align: center;
		grid-area: footer;
    width: 350px;
    display: inline-block;
    margin: 0 auto;
	list-style-type: none;
}
	

	a{
		text-decoration: none;
	}
	.titleLink:hover{
		color: black;
		transition: color 0.6s;
	}
	.link{
		text-decoration: none;
		font-size: 1.4em;
	}
	.navbar a{
		text-decoration: none;
		color: white;
	}
	.navbar:hover{
		
		color: rgba(247, 150, 81, 1);
		border-bottom: solid 1px rgba(247, 150, 81, 1);
		border-top: solid 1px rgba(247, 150, 81, 1);
		
		background: transparent;
		transition: color 0.6s, border-top 0.6s, border-bottom 0.6s;
	}

.fa-instagram {
	text-align: center;
	width: 20%;
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: white;
	color: black;
}
.fa-instagram:hover {
    background-color: #7e03b2;
}
.fa-linkedin {
	text-align: center;
	width: 20%;
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: white;
	color: black;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
#navbar {
  		background: transparent;
		border: none;
		color: white;
		width: 100%;
		display: block;
		margin-left: 0;
		margin-right: 5%;
		padding: 10px;
		font-weight: bold;
		border-bottom: 1px solid rgb(247,150,81);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
   display:inline-block;
		width: 15%;
		margin-right: 5%;
		min-height: 20%;
		line-height: 100px;
		margin-bottom: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    border: solid 1px rgba(247,150,81,1);
	border-top: none;
	color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	padding: 0;
	margin-left: 0.8%;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
background-color: rgba(56,56,56,0.7);
    text-decoration: none;
    display: block;
	padding: 0;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: rgba(56,56,56,0.7);
	color: rgba(247,150,81,1);
	border: none;
	
	}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover #navbar {

		color: rgba(247, 150, 81, 1);
		border-bottom: solid 2px rgba(247, 150, 81, 1);
		border-top: solid 2px rgba(247, 150, 81, 1);
		padding: 5px;
		transition: color 0.6s, border-top 0.6s, border-bottom 0.6s;
}
#smallerNav{
	display:none;
}

	
}
}
