
html, body{
	background-color: #4c4c4c;
	font-family: "Segeo UI",Arial,sans-serif;
	height: 100%;
	max-width: 100%;
	
}
.title a{
	font-family: 'Lato', sans-serif;
	font-size: 42px;
	letter-spacing: 4px;
	color: white;
	
	top: 0;
	text-decoration: none;
}
.title a:hover{
	color: #ef3939;
	transition:color 0.3s ease-out, background 0.25s ease-in;
}
.red{
	color: #ef3939;
}
td img:hover{
	opacity: 0.8;
	transform: scale(1.02, 1.02);
	box-shadow: 5px 5px 5px #888888;
}
.socialarea{
	background-color: #4c4c4c;
	margin-top: 0;
	padding-top: 2%;
	padding-bottom: 1%;
	border-top: 1px white solid;
	border-bottom: 1px white solid;
	border-left: 1px white solid;
	border-right: 1px white solid;
	
}

#active{
	background-color: #ef3939;
}

/*NAVBAR*/
.clearfix:after {
    display:block;
    clear:both;
	
}
 
/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#3e3436;
}
 
.menu {
	margin-left: 0;
    width:100%;
    
}
 
.menu li {
    margin:0px;
    list-style:none;
    font-family:'Ek Mukta';
}
 
.menu a {
    transition:all linear 0.15s;
    color:#bcbcbc;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#ef3939;
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:15px;
}
 
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#2e2728;
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:100%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#3e3436;
}

.enterprise, .heroes{
	text-decoration: none;
	font-size: 16px;
	color: #ef3939;
	
}
.enterprise:hover, .heroes:hover{
	color: ;
}
.date{
	font-size: 14px;
	color: #3a3a3a;
}
h4{
	font-size: 28px;
	font-weight: 500;
	margin-left: 15px;
	margin-top: 4px;
	margin-bottom: 4px;
}
td p, a{
	margin-top: 0;
	margin-bottom: 2px;
	margin-left: 15px;
	font-family: calibri;
	text-decoration: none;
	padding: 0;
}
.firstArticle{
	width: 100%;
}
caption{
	margin-left: 15px;
	font-size: 28px;
	font-weight: 500;
	text-align: left;
	font-family: calibri;
	letter-spacing: 3px;
}
.rightInfo{
	text-align: center;
	font-family: calibri;
	font-size: 18px;
	font-weight: 600;
	color: #606060;
}
.amazonList img{
	margin-left: 0;
	width: 100%;
	border: 1px black solid;
}
.amazonList img:hover{
	opacity: 0.7;
	transform: scale(1.05, 1.05);
}
.sellList{
	margin-left: 0;
	list-style-type: none;
	width: 60%;
	height: auto;
	display: block;
	

	
}
.content{
	
	padding-top: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: #efefef;
	height: 100%;
	width: 79.7%;
	float: left;
	border-right: 1px solid #c6c4c4;
}
.header{
	width: 79.7%;
	border-bottom: 1px solid #c6c4c4;
}
.grey{
	color: #848484;
}
table{
	width: 100%;
}
.rightbar{
	margin-top: 8px;
	margin-bottom: 8px;
	width: 20%;
	float: right;
	background-color: #dbdbdb;
	height: 100%;
}

/*SOCIAL MEDIA LINKS*/
.followUs{
	text-align: center;
}
.social {
 
  width: 100%;
  
  
}
.social ul {
  margin-left: -30px;
  margin-top: 10%;
  width: 90%;

}
.social ul li {
  display: inline-block;
  
  
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 30px 30px 30px 30px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social a{
	color: black;
	text-decoration: none;
}
.social i{
	
}

.social ul li:hover a {
  color: #000;
}
.social ul li:hover i {
  color: #fff;
  background: rgba(255, 81, 84, 0.8);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
	display: inline-block;

  color: #000;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}


